<form>
  <div class="card text-white bg-primary">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body" style="background-color: white; color: black;">
      <!--<p>Tipo</p>-->

      <!--<mat-form-field>-->
        <!--<mat-select [disabled]="isPreview" [(value)]="selectedDay" placeholder="Día" [required]="true">-->
          <!--<mat-option *ngFor="let type of days" [value]="type.viewValue">-->
            <!--{{type.viewValue}}-->
          <!--</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
      <mat-form-field>
        <input [disabled]="isPreview" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" matInput placeholder="dia" (click)="picker.open()" [matDatepicker]="picker" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>
      <!--<mat-datepicker #picker></mat-datepicker>-->
      <hr>
      <p style="text-align: center">Hora</p>
      <p>Inicio</p>
      <div class="toggle-example">
        <input class="input-hour" [disabled]="isPreview" [(ngModel)]="selectedHourFrom" [ngModelOptions]="{standalone: true}" [ngxTimepicker]="toggleTimepickerFrom" [format]="24" placeholder="Seleccione una fecha" readonly required>
        <ngx-material-timepicker-toggle [for]="toggleTimepickerFrom"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepickerFrom></ngx-material-timepicker>
      </div>
      <p>Fin</p>
      <div class="toggle-example">
        <input class="input-hour" [disabled]="isPreview" [(ngModel)]="selectedHourUntil" [ngModelOptions]="{standalone: true}" [ngxTimepicker]="toggleTimepickerUntil" [format]="24" placeholder="Seleccione una fecha" readonly required>
        <ngx-material-timepicker-toggle [for]="toggleTimepickerUntil"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepickerUntil></ngx-material-timepicker>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="alertErrorHour">
        La hora de Inicio debe ser mayor a la hora Fin
      </div>
      <hr>

      <!--<div class="mat-elevation-z1 div-container-tables">-->
        <!--<p style="text-align: center">Alumnos</p>-->

        <!--<div>-->
          <!--<div class="search-bar-and-buttons">-->
            <!--<mat-form-field class="example-full-width">-->
              <!--<input id="input-search" matInput placeholder="Buscar" #inputSearch required>-->
            <!--</mat-form-field>-->
            <!--<mat-icon matTooltip="Buscar" class="icon-options">-->
              <!--<a (click)="searchStudents(inputSearch.value)">-->
                <!--search-->
              <!--</a>-->
            <!--</mat-icon>-->
            <!--<button id="button-add-student" mat-raised-button color="primary" (click)="openDialogAddStudent()">Registrar-->
              <!--Alumno-->
            <!--</button>-->
          <!--</div>-->

          <!--<div class="mat-elevation-z24 div-table">-->
            <!--<table mat-table [dataSource]="students">-->

              <!--<ng-container matColumnDef="position">-->
                <!--<th mat-header-cell *matHeaderCellDef> #</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.position}}</td>-->
              <!--</ng-container>-->

              <!--<ng-container matColumnDef="name">-->
                <!--<th mat-header-cell *matHeaderCellDef> Nombre</th>-->
                <!--<td mat-cell *matCellDef="let element">-->
                  <!--<img src="{{element.img}}" class="image-avatar">-->
                  <!--{{element.nombreAlumno}}-->
                <!--</td>-->
              <!--</ng-container>-->

              <!--<ng-container matColumnDef="telephone">-->
                <!--<th mat-header-cell *matHeaderCellDef> Teléfono</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.telefonoAlumno}}</td>-->
              <!--</ng-container>-->

              <!--<ng-container matColumnDef="identificationNumber">-->
                <!--<th mat-header-cell *matHeaderCellDef> Número de Identificación</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.dniAlumno}}</td>-->
              <!--</ng-container>-->

              <!--<ng-container matColumnDef="options">-->
                <!--<th id="th-options" mat-header-cell *matHeaderCellDef> Opciones</th>-->
                <!--<td mat-cell *matCellDef="let element">-->
                  <!--<mat-icon matTooltip="Previsualizar">-->
                    <!--<a (click)="previewStudent(element)">-->
                      <!--remove_red_eye-->
                    <!--</a>-->
                  <!--</mat-icon>-->
                  <!--<mat-icon matTooltip="Eliminar" class="icon-options">-->
                    <!--<a (click)="removeStudent(element)">-->
                      <!--delete-->
                    <!--</a>-->
                  <!--</mat-icon>-->
                <!--</td>-->
              <!--</ng-container>-->

              <!--<tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>-->
              <!--<tr mat-row *matRowDef="let row; columns: displayedColumnsStudents;"></tr>-->
            <!--</table>-->

            <!--<div *ngIf="isLoadingTableStudents" style="border-bottom: solid #d0c4bb 1px;">-->
              <!--<mat-spinner style="margin: auto auto;"></mat-spinner>-->
            <!--</div>-->

            <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div style="text-align: center">
        <button *ngIf="!isPreview" style="margin-right: 1em;" class="button-green" mat-raised-button (click)="registerSchedule($event, toggleTimepickerFrom, toggleTimepickerUntil)">Guardar</button>
        <button mat-raised-button color="warn" (click)="closeDialogAddSchedule()">Cancelar</button>
      </div>
    </div>
  </div>
</form>
