<form>
  <div class="card text-white bg-primary">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body" style="background-color: white; color: black;">
      <!--<p>Tipo</p>-->

      <mat-form-field>
        <mat-select [(value)]="selectedDay" placeholder="Día" [required]="true">
          <mat-option *ngFor="let type of days" [value]="type.viewValue">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <hr>
      <p style="text-align: center">Hora</p>
      <p>Inicio</p>
      <div class="toggle-example">
        <input [(ngModel)]="selectedHourFrom" [ngModelOptions]="{standalone: true}" [ngxTimepicker]="toggleTimepickerFrom" [format]="24" placeholder="Seleccione una fecha" readonly required>
        <ngx-material-timepicker-toggle [for]="toggleTimepickerFrom"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepickerFrom></ngx-material-timepicker>
      </div>
      <p>Fin</p>
      <div class="toggle-example">
        <input [(ngModel)]="selectedHourUntil" [ngModelOptions]="{standalone: true}" [ngxTimepicker]="toggleTimepickerUntil" [format]="24" placeholder="Seleccione una fecha" readonly required>
        <ngx-material-timepicker-toggle [for]="toggleTimepickerUntil"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleTimepickerUntil></ngx-material-timepicker>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="alertErrorHour">
        La de Inicio debe ser mayor a la Fin
      </div>
      <hr>
      <div style="text-align: center">
        <button style="margin-right: 1em;" class="button-green" mat-raised-button (click)="registerSchedule($event, toggleTimepickerFrom, toggleTimepickerUntil)">Guardar</button>
        <button mat-raised-button color="warn" (click)="closeDialogAddSchedule()">Cancelar</button>
      </div>
    </div>
  </div>
</form>

<ngx-spinner bdColor = "rgba(85,70,70,0.8)" size = "large" color = "#2f31de" type = "square-loader" style="font-size: 150%">
  Cargando...
</ngx-spinner>
