<form>
  <div id="div-main">
    <!--<div class="example-container">-->
      <!--<mat-card class="example-card">-->

        <!--<label for="inputFile">-->
          <!--<img id="img-avatar" src="../../assets/avatar.jpg" mat-card-image alt="Student Photo"-->
               <!--matTooltip="Oprima para seleccionar una Imagen" width="200vh" height="250vh" #imageAvatar>-->
        <!--</label>-->
        <!--<input id="inputFile" (change)="inFileSelected($event, imageAvatar)" type="file" hidden>-->
      <!--</mat-card>-->
    <!--</div>-->


    <div id="div">
      <!--<mat-accordion class="example-headers-align">-->
        <!--<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
              <!--Informacion de perfil-->
            <!--</mat-panel-title>-->
            <!--<mat-panel-description>-->
              <!--Ingrese el nombre de usuario, contraseña e imagen de perfil-->
              <!--<mat-icon>account_circle</mat-icon>-->
            <!--</mat-panel-description>-->
          <!--</mat-expansion-panel-header>-->

          <!--<div style="text-align: center">-->
            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="nameUser" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="nombre de usuario" required>-->
            <!--</mat-form-field>-->

            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="password" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" required>-->
              <!--<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
            <!--</mat-form-field>-->
          <!--</div>-->

          <!--<mat-action-row>-->
            <!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
          <!--</mat-action-row>-->
        <!--</mat-expansion-panel>-->

        <!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
              <!--informacion personal-->
            <!--</mat-panel-title>-->
            <!--<mat-panel-description>-->
              <!--registre su informacion personal-->
              <!--<mat-icon>map</mat-icon>-->
            <!--</mat-panel-description>-->
          <!--</mat-expansion-panel-header>-->

          <!--<div style="text-align: center;">-->
            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="name" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="Nombre" required>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="dni" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Numero de Documento" required>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="telephone" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Telefono" required>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<input [(ngModel)]="date" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly required>-->
            <!--</mat-form-field>-->
            <!--<mat-datepicker #picker></mat-datepicker>-->
            <!--<mat-form-field>-->
              <!--<input [disabled]="isPreview" [(ngModel)]="emailSelected" [disabled]="isPreview" matInput placeholder="Correo" [formControl]="emailFormControl">-->
              <!--<mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
              <!--<mat-select [(value)]="selectedGender" placeholder="Día" [required]="true">-->
                <!--<mat-option *ngFor="let type of genders" [value]="type.viewValue">-->
                  <!--{{type.viewValue}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
          <!--</div>-->

          <!--<mat-action-row>-->
            <!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
            <!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
          <!--</mat-action-row>-->
        <!--</mat-expansion-panel>-->

        <!--<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
              <!--Suscripciones del Alumno-->
            <!--</mat-panel-title>-->
            <!--<mat-panel-description>-->
              <!--seleccione una accion-->
              <!--<mat-icon>queue</mat-icon>-->
            <!--</mat-panel-description>-->
          <!--</mat-expansion-panel-header>-->

      <hr>

      <br>
        <h2 style="text-align: center;">Subscripciones</h2>
      <br>

        <h3 style="text-align: center;">{{messageStudent}}</h3>

      <br>

      <hr>

          <div id="div-table" class="mat-elevation-z24">
            <button id="btn" mat-raised-button color="primary" (click)="openDialogAddSubscription()">Registrar Subscripción
            </button>
            <table mat-table [dataSource]="subscriptions">

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell *matCellDef="let element"> {{element.posicion}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Programa</th>
                <td mat-cell *matCellDef="let element"> {{element.servicio.nombreServicio}}</td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th id="th-description" mat-header-cell *matHeaderCellDef> Fecha de vencimiento</th>
                <td mat-cell *matCellDef="let element"> {{utilities.getDateWithOutHourFromFormatDate(element.fechaFin)}}</td>
              </ng-container>

              <ng-container matColumnDef="sessions">
                <th id="th-session" mat-header-cell *matHeaderCellDef> # de Sesiones</th>
                <td mat-cell *matCellDef="let element"> {{(element.fechaFin) ? "" : element.sesiones}}</td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th id="th-price" mat-header-cell *matHeaderCellDef> Precio</th>
                <td mat-cell *matCellDef="let element"> {{element.precioSuscripcion}}</td>
              </ng-container>

              <ng-container matColumnDef="options">
                <th id="th-options" mat-header-cell *matHeaderCellDef> opciones</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip="Previsualizar">
                    <a (click)="previewSubscription(element)">
                      remove_red_eye
                    </a>
                  </mat-icon>
                  <mat-icon matTooltip="Editar" class="icon-options">
                    <a (click)="editSubscription(element)">
                      edit
                    </a>
                  </mat-icon>
                  <mat-icon matTooltip="Eliminar" class="icon-options">
                    <a (click)="removeSubscription(element)">
                      delete
                    </a>
                  </mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="isLoadingTable" style="border-bottom: solid #d0c4bb 1px;">
              <mat-spinner style="margin: auto auto;"></mat-spinner>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="20" showFirstLastButtons></mat-paginator>
          </div>
          <!--<mat-action-row>-->
            <!--<button mat-button color="warn" (click)="prevStep()">Previous</button>-->
            <!--<button mat-button color="primary" (click)="nextStep()">End</button>-->
          <!--</mat-action-row>-->
        <!--</mat-expansion-panel>-->
      <!--</mat-accordion>-->

      <div id="buttons-accept-cancel" style="text-align: center; margin-top: 3em; margin-bottom: 2em;">
        <!--<button style="margin-right: 3em; background-color: #58B957; color: white;" class="button-green" mat-raised-button (click)="registerSubscription($event)">Guardar</button>-->
        <button mat-raised-button color="warn" (click)="closeAddSubscription()">Regresar</button>
      </div>
    </div>
  </div>
</form>

<ngx-spinner bdColor = "rgba(85,70,70,0.8)" size = "large" color = "#2f31de" type = "square-loader" style="font-size: 150%">
  Cargando...
</ngx-spinner>
