<div id="div-login">
  <form>
    <mat-label id="label-login">Iniciar Sesión</mat-label>
    <br>
    <mat-form-field id="mat-form-name-user">
      <input matInput placeholder="Nombre de Usuario" id="userName" required>
    </mat-form-field>
    <br>
    <mat-form-field id="mat-form-password">
      <input matInput placeholder="Constraseña" id="password" required>
    </mat-form-field>
    <br>
    <button id="button-login" mat-flat-button (click)="loginUser($event)" color="primary">Ingresar</button>
  </form>
  <br>
  <div id="div-alert-incorrect" class="alert alert-danger" role="alert" *ngIf="alertIncorrect">
    <strong>Usuario o contraseña incorrecta</strong> Ingrésalos nuevamente por favor.
  </div>
  <div id="div-alert-server" class="alert alert-danger" role="alert" *ngIf="alertServer">
    <strong>No podemos conectarnos con el servidor en este momento</strong> por favor comprueba tu conexion a internet o intenta mas tarde.
  </div>
</div>
