<form>
  <div class="card text-white bg-primary">
    <div class="card-header">{{title}}</div>
    <div class="card-body" style="background-color: white; color: black;">
      <!--<p>imagen</p>-->
      <mat-card class="example-card" style="text-align: center;">
        <label for="inputFile">
        <img id="img-avatar" [src]="urlImage" mat-card-image alt="Student Photo" [matTooltipDisabled]="isPreview"
             matTooltip="Oprima para seleccionar una Imagen" width="200vh" height="250vh" #imageAvatar>
      </label>
        <input [disabled]="isPreview" id="inputFile" [src]="urlImage" (change)="onFileSelectedListener($event)" type="file" hidden>
      </mat-card>
      <br>
      <!--<p>nombre</p>-->
      <mat-form-field>
        <input [(ngModel)]="nameUser" [maxLength]="constants.MAXIMUM_LENGTH_USER_NAME" [readonly]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="Nombre de Usuario" #inputTitle required>
        <mat-hint align="end">{{inputTitle.value.length}} / {{constants.MAXIMUM_LENGTH_USER_NAME}}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password" [maxLength]="constants.MAXIMUM_LENGTH_PASSWORD" [readonly]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" #inputPassword required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint align="end">{{inputPassword.value.length}} / {{constants.MAXIMUM_LENGTH_PASSWORD}}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="name" [maxLength]="constants.MAXIMUM_LENGTH_NAME_FIELD" [readonly]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="Nombre de Alumno" #inputName required>
        <mat-hint align="end">{{inputName.value.length}} / {{constants.MAXIMUM_LENGTH_NAME_FIELD}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="dni" (paste)="utilities.pasteEvent($event, inputDni, constants.MAXIMUM_LENGTH_DNI)" [max]="utilities.generateMaxNumber(constants.MAXIMUM_LENGTH_DNI)" (keypress)="utilities.avoidMaxText($event, inputDni, constants.MAXIMUM_LENGTH_DNI)" [readonly]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Número de Documento" #inputDni required>
        <mat-hint align="end">{{inputDni.value.length}} / {{constants.MAXIMUM_LENGTH_DNI}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="telephone" (paste)="utilities.pasteEvent($event, inputTelephone, constants.MAXIMUM_TELEPHONE)" [max]="utilities.generateMaxNumber(constants.MAXIMUM_TELEPHONE)" (keypress)="utilities.avoidMaxText($event, inputTelephone, constants.MAXIMUM_TELEPHONE)" [readonly]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Teléfono" #inputTelephone required>
        <mat-hint align="end">{{inputTelephone.value.length}} / {{constants.MAXIMUM_TELEPHONE}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="date" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Fecha de nacimiento" [matDatepicker]="picker" (focus)="picker.open()" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
      <!--(paste)="utilities.pasteEvent($event, inputEmail, constants.MAXIMUM_LENGTH_EMAIL)" [max]="utilities.generateMaxNumber(constants.MAXIMUM_LENGTH_EMAIL)" (keypress)="utilities.avoidMaxText($event, inputEmail, constants.MAXIMUM_LENGTH_EMAIL)"-->
      <mat-form-field>
        <input [readonly]="isPreview" [maxLength]="constants.MAXIMUM_LENGTH_EMAIL" [(ngModel)]="emailSelected" matInput placeholder="Correo" [formControl]="emailFormControl" #inputEmail>
        <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputEmail.value.length}} / {{constants.MAXIMUM_LENGTH_EMAIL}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="isPreview" [(value)]="selectedGender" placeholder="Género" [required]="true">
          <mat-option *ngFor="let type of genders" [value]="type.viewValue">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <hr>

      <div style="text-align: center">
        <button style="margin-right: 1em;" class="button-green" mat-raised-button *ngIf="!isPreview" (click)="registerStudent($event)">Guardar</button>
        <button mat-raised-button color="warn" (click)="closeDialogAddStudent()">{{nameButtonCancel}}</button>
      </div>
    </div>
  </div>
</form>
