<form>
  <div class="card text-white bg-primary">
    <div class="card-header">{{title}}</div>
    <div class="card-body" style="background-color: white; color: black;">
      <!--<p>imagen</p>-->
      <mat-card class="example-card" style="text-align: center;">
        <label for="inputFile">
          <img id="img-avatar" src="../../../assets/avatar.jpg" mat-card-image alt="Student Photo"
               matTooltip="Oprima para seleccionar una Imagen" width="200vh" height="250vh" #imageAvatar>
        </label>
        <input id="inputFile" (change)="inFileSelected($event, imageAvatar)" type="file" hidden>
      </mat-card>
      <br>
      <!--<p>nombre</p>-->
      <mat-form-field>
        <input [(ngModel)]="nameUser" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="Nombre de Usuario" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="name" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="text" placeholder="Nombre de Alumno" required>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="dni" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Número de Documento" required>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="telephone" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Telefono" required>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="date" [disabled]="isPreview" [ngModelOptions]="{standalone: true}" matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly required>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-form-field>
        <input [disabled]="isPreview" [(ngModel)]="emailSelected" matInput placeholder="Correo" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="isPreview" [(value)]="selectedGender" placeholder="Día" [required]="true">
          <mat-option *ngFor="let type of genders" [value]="type.viewValue">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <hr>

      <div style="text-align: center">
        <button style="margin-right: 1em;" class="button-green" mat-raised-button *ngIf="!isPreview" (click)="registerStudent($event)">{{nameButtonSuccess}}</button>
        <button mat-raised-button color="warn" (click)="closeDialogAddStudent()">{{nameButtonCancel}}</button>
      </div>
    </div>
  </div>
</form>

<ngx-spinner bdColor = "rgba(85,70,70,0.8)" size = "large" color = "#2f31de" type = "square-loader" style="font-size: 150%">
  Cargando...
</ngx-spinner>
