<form>
<div id="div-main">

  <h2 style="margin-bottom: 3em; margin-top: 2em;">Agregar Clase</h2>

  <div class="mat-elevation-z1" style="margin: auto auto; padding-bottom: 4em">
    <mat-form-field style="width: 30%">
      <mat-select [disabled]="isPreview" (selectionChange)="finishUpdatePrograms()" [(value)]="selectedTrainerName" placeholder="Entrenador" [required]="true">
        <mat-option (onSelectionChange)="updatePrograms(type)" *ngFor="let type of trainers" [value]="type.nombreEntrenador">
          {{type.nombreEntrenador}}, dni: {{type.dniEntrenador}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 30%">
      <mat-select [disabled]="isPreview" [(value)]="selectedProgramName" placeholder="Programa" [required]="true">
        <mat-option *ngFor="let type of programs" [value]="type.nombreServicio">
          {{type.nombreServicio}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 30%">
      <input [disabled]="isPreview" [(ngModel)]="numberQuotas" [ngModelOptions]="{standalone: true}" matInput type="number" placeholder="Numero de Cupos" min="1" required>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 30%">
      <textarea [disabled]="isPreview" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" matInput placeholder="Descripción"></textarea>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z1 div-container-tables">
    <h2 style="margin-bottom: 1em; margin-top: 1em;">Horario</h2>

    <div id="buttons-schedule" class="search-bar-and-buttons">
      <button [disabled]="isPreview" id="button-add-move" mat-raised-button color="primary" (click)="openDialogAddSchedule()">Agregar</button>
      <button [disabled]="isPreview" id="button-see-schedule" mat-raised-button color="primary" (click)="openDialogSeeSchedule()">Ver</button>
    </div>

    <div class="mat-elevation-z24 div-table">
      <table mat-table [dataSource]="schedules">

        <ng-container matColumnDef="day">
          <th id="th-day" mat-header-cell *matHeaderCellDef> Dia</th>
          <td mat-cell *matCellDef="let element"> {{element.dia}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef> Desde</th>
          <td mat-cell *matCellDef="let element"> {{element.horaInicio}}</td>
        </ng-container>

        <ng-container matColumnDef="until">
          <th mat-header-cell *matHeaderCellDef> Hasta</th>
          <td mat-cell *matCellDef="let element"> {{element.horaFin}}</td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th class="th-options" mat-header-cell *matHeaderCellDef> Opciones</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon matTooltip="Editar" class="icon-options">
              <a *ngIf="isPreview" (click)="editSchedule(element)">
                edit
              </a>
            </mat-icon>
            <mat-icon matTooltip="Eliminar" class="icon-options">
              <a *ngIf="isPreview" (click)="removeSchedule(element)">
                delete
              </a>
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSchedule"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSchedule;"></tr>
      </table>
    </div>
  </div>

  <!--<div class="mat-elevation-z1 div-container-tables">-->
    <!--<h2 style="margin-bottom: 2em; margin-top: 3em;">Alumnos</h2>-->

    <!--<div>-->
      <!--<div class="search-bar-and-buttons">-->
        <!--<mat-form-field class="example-full-width">-->
          <!--<input id="input-search" matInput placeholder="Buscar" #inputSearch required>-->
        <!--</mat-form-field>-->
        <!--<mat-icon matTooltip="Buscar" class="icon-options">-->
          <!--<a (click)="searchStudents(inputSearch.value)">-->
            <!--search-->
          <!--</a>-->
        <!--</mat-icon>-->
        <!--<button id="button-add-student" mat-raised-button color="primary" (click)="openDialogAddStudent()">Registrar Alumno</button>-->
      <!--</div>-->

      <!--<div class="mat-elevation-z24 div-table">-->
        <!--<table mat-table [dataSource]="students">-->

          <!--<ng-container matColumnDef="position">-->
            <!--<th mat-header-cell *matHeaderCellDef> #</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.position}}</td>-->
          <!--</ng-container>-->

          <!--<ng-container matColumnDef="name">-->
            <!--<th mat-header-cell *matHeaderCellDef> Nombre</th>-->
            <!--<td mat-cell *matCellDef="let element">-->
              <!--<img src="{{element.img}}" class="image-avatar">-->
              <!--{{element.nombreAlumno}}-->
            <!--</td>-->
          <!--</ng-container>-->

          <!--<ng-container matColumnDef="telephone">-->
            <!--<th mat-header-cell *matHeaderCellDef> Teléfono</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.telefonoAlumno}}</td>-->
          <!--</ng-container>-->

          <!--<ng-container matColumnDef="identificationNumber">-->
            <!--<th mat-header-cell *matHeaderCellDef> Número de Identificación</th>-->
            <!--<td mat-cell *matCellDef="let element"> {{element.dniAlumno}}</td>-->
          <!--</ng-container>-->

          <!--<ng-container matColumnDef="options">-->
            <!--<th id="th-options" mat-header-cell *matHeaderCellDef> Opciones</th>-->
            <!--<td mat-cell *matCellDef="let element">-->
              <!--<mat-icon matTooltip="Previsualizar">-->
                <!--<a (click)="previewStudent(element)">-->
                  <!--remove_red_eye-->
                <!--</a>-->
              <!--</mat-icon>-->
              <!--<mat-icon matTooltip="Eliminar" class="icon-options">-->
                <!--<a (click)="removeStudent(element)">-->
                  <!--delete-->
                <!--</a>-->
              <!--</mat-icon>-->
            <!--</td>-->
          <!--</ng-container>-->

          <!--<tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>-->
          <!--<tr mat-row *matRowDef="let row; columns: displayedColumnsStudents;"></tr>-->
        <!--</table>-->

        <!--<div *ngIf="isLoadingTableStudents" style="border-bottom: solid #d0c4bb 1px;">-->
          <!--<mat-spinner style="margin: auto auto;"></mat-spinner>-->
        <!--</div>-->

        <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div id="buttons-accept-cancel">
    <button *ngIf="isPreview" style="margin-right: 3em; background-color: #58B957; color: white;" class="button-green" mat-raised-button (click)="registerClass($event)">Guardar</button>
    <button mat-raised-button color="warn" (click)="closeAddClass()">Cancelar</button>
  </div>
</div>
</form>

<ngx-spinner bdColor = "rgba(85,70,70,0.8)" size = "large" color = "#2f31de" type = "ball-clip-rotate-pulse" style="font-size: 150%">
  Cargando...
</ngx-spinner>
